* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Quicksand - Inconsolata - Cutive Mono -Dosis */
body{
     font-family: "Quicksand", sans-serif;
     font-weight: 300;
     color: #fff;
}
button{
    font-family: "Quicksand", sans-serif
}
h1,h2,h3,h4,h5,h6{
     /* font-family: "Cutive Mono", serif; */
     /* font-weight: 400; */
     margin-bottom: 2rem;
     text-transform: capitalize;
}
a {
    color: #fff;
    text-decoration: none; 
}
.nav-items {
    list-style: none;
}
.nav {
    position:absolute ;
    background-color: transparent;
    height: 60px;
    padding:1rem;
    width: 100%;
    z-index: 10;
    display: flex;
     /* color: #000; */
    align-items: center;
}
/* .nav a{
    font-weight: 500;
    color: #000;
} */
.nav{
    position:absolute ;
}
.nav a{
   color: white;
    font-weight: 300;
}
.nav .nav-items {
   
    display: flex;
    gap: 1.5rem;
    align-items: center;
    
    height: 80%;
}
.logo{
    display: block;
    height: 80%;
    width: 150px;
    min-width: 0;
    margin-inline-end:auto ;
}
.nav .nav-items li{
    height: 100%;
}
.nav  li a{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.section-heading{
    text-align: center;
    padding-block: 3rem;
        z-index: 15;
        color: black;
    position: relative;
}
.section-heading h1{
    color: hsl(36, 100%, 64%);
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 1px 1px 0px #a8a8a8;
}

.container{
    background-color: #f9f6f0;
    min-height: 100vh;
     display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    color: #000; 
}
.posts-container a{
    color: #000;
}

.posts-container{
    flex-wrap: wrap;
    gap: 1rem;
}
.posts-container .item-card{
    position: relative;
    width: min(500px,90vw);
    height: 550px;
    border-radius: 5%;
    margin-bottom: 2rem;
    padding: .75rem;
    background-color: white;
    box-shadow: 0px 1px 12px 3px hsla(0, 0%, 0%, 0.2);

}
.item-card .card-info{
    padding: .75rem;
    border-radius: inherit;
}
.item-card figure{
    position: relative;
   
    margin: auto;
        width: 100%;
    height: 350px;
    border-radius:inherit ;
    
}
.item-card img{
       position: absolute;
    inset: 0;
    /* top: 0;
    left: 0; */
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
    border-radius:inherit;
}
.card-link{
    position: absolute;
    display: block;
    inset: 0;
    
    cursor: pointer;
    border-radius: inherit;
}
.main-wrapper{
    position: relative;
    width: 100%;
}
.toggle-nav{
    display: none;
}
.page-header{
    position: relative;
    height:20rem;
    width: 100%;
}
.header-img{
    position: absolute;
    inset: 0;
}
.header-img::after{
    content: " ";
     position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(360deg, #f9f6f0, transparent);
}
.header-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.search-post{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}
.search-post input{
        padding: 1rem;
    border-radius: 24px;
    outline: none;
    border: none;
    background: #f9f6f0b8;
    width:min(500px,80vw) ;
}

@media (min-width: 767px) {
    .posts-container .item-card{
   
    width: 300px;
    }
}
@media (max-width:766px){
    /* mobile-nav */
   .nav a{
    color: #000;
   }
    .toggle-nav {
    display: inline-block;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    /* High z-index keeps the icon accessible over the drawer */
  
    z-index: 40; 
  }

  .toggle-nav svg {
    width: 100%;
    height: 100%;
  }

  .nav-container {
    background-color: wheat;
    position: fixed;
    inset: 0;
    z-index: 30;
    transform: translateX(100%); /* Initial off-screen state handled by GSAP */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav .nav-items{
    flex-direction: column;
    width: 100%;
    height: auto;
  }
    .nav .nav-items li{
        width: 100%;
        height: 3rem;
    }
}