* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
}

nav {
    position: absolute;
    background-color: transparent;
    width: 100%;
    z-index: 10;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
.section-headeing{
    text-align: center;
    padding-block: 3rem;
}