.back-link{
    position: absolute;
    top:70px;
    left:10px;
    z-index: 10;
}
.postDetail-container{
    --post-page-margin:1rem;
    padding: 0;
}
.single-page-content{
    width: 100%;
    display: grid;
}
.main-img{
    position: relative;
    width: 100%;
    height: 50vh;
}
figure img{
    position: absolute;
    inset: 0;
    width: 100%;
     height: 100% !important ; /*override Sanity inline styles */
   
    object-fit: cover;
}
.post{
    padding:var(--post-page-margin);

}
.post figure{
    position: relative;
    width: 80%;
    margin:1.5rem auto !important;
    aspect-ratio: 3 / 2;
    padding-block:.5rem ;
}
.post-header{
    position: relative;
}
.post-header__data{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(360deg, #f9f6f0, transparent);
}
.desktop-daily-cast{
    display: none;
}
.weather-pop-overlay{
    position: fixed;
    inset: 0;
    z-index: 40;
    background: wheat;
}
/* In CSS flexbox layouts, nested flex items will not scroll unless min-height: 0 is added to the flex child
 (.daily-cast-list) and its parent container (.weather-pop-content) has a fixed bounded height like height: 100%. */
.weather-pop-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.weather-pop-content .daily-cast-list{
     flex: 1;
   overflow: auto;
   min-height: 0
}
/* datepicker============= */
.calender-container{
    position: relative;
    z-index: 10;
    display: block;
  
}
.rdrCalendarWrapper{
    position: absolute;
}
/* Hide the Year select dropdown, keeping ONLY the Month select dropdown */
.rdrYearPicker {
  display: none !important;
}
.datePicker-wrapper{
    outline: 2px solid salmon;
}
.weather-summary-wrapper{
    margin:var(--post-page-margin);
    padding:var(--post-page-margin);
    border-radius: 6%;
    background: hsl(0deg 0% 100% / 60%);
    box-shadow: 0px 1px 12px 3px hsla(0, 0%, 0%, 0.2);

}
.search-icon{
    width: 30px;
    height: 30px;
}
.search-icon svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* desktop stylings */
@media (min-width: 767px) {
    .rdrCalendarWrapper{
    position: relative;
}
    /* =========== */
    .weather-pop-overlay,
    .mobile-only-btn{
        display: none;
    }
    .desktop-daily-cast{
        display: block;
    }
    .posts-container .item-card{
    width: 300px;
    }
    .single-page-content{
        --side-space: 350px;
        --post-page-margin:1rem;
        grid-template-columns:var(--side-space) 1fr;
       grid-template-areas: 
        "contentHeader contentHeader "
        "sideContent    content    "
    }
    .post-header{
        grid-area: contentHeader;
    }
    .post-header__data{
        padding-left:calc(var(--side-space) + var(--post-page-margin)) ;
    }
    .weather-quiery{
        grid-area: sideContent;
    }
    .post{
        grid-area: content;
    }
    .weather-inline-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
   }
   .desktop-daily-cast{
    
        flex: 1;
        overflow: auto;
        min-height: 0;
        /* transform: scaleX(-1); */
   }
   .weather-inline-wrapper::after{
    content: " ";
    outline: 1px solid green;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
   z-index: 10;
   pointer-events: none;
   /* 2. Control gradient color stops */
  /* #f9f6f0 starts solid at 0% (bottom), remains solid up to 20%, then fades out to transparent at 100% (top) */
  background-image: linear-gradient(
    0deg, 
    #f9f6f0 0%, 
    rgba(249, 246, 240, 0.8) 35%, 
    transparent 100%
  );
}
   /* .desktop-daily-cast *{
         transform: scaleX(-1);
   } */
}